@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0rem;
    padding: 0rem;
}

// Mixins
// Flex Row
@mixin flexRow {
    display: flex;
    flex-direction: row;
}
// Flex Column
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}