.menuResponsive{
    display: none;
    @media(max-width: 992px){   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background-color: #155eac;
        width: 50%;
        height: 100%;
        top: 0rem;
        left: 0rem;
        opacity: 1;
        z-index: 15;
        padding: 1rem;
        transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
        overflow: auto;
        .menuResponsive_close{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .menuResponsive_close_span{
               color: #ffffff;
            }
        }
    }
    @media(max-width: 772px){
        width: 60%;
    }
    @media(max-width: 576px){
        width: 100%;
    }
    .menuResponsive_close { 
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .menuResponsive_close_span {

        }
    }
}
.menuClose{
    @extend .menuResponsive;
    left: -100%;
    opacity: 0; 
      
}