.itemCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    .item_counter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        border: 1px solid #3498db;
        padding: 1rem;
        border-radius: 0.5rem;
        .item_counter_span{
            text-align: center;
            color: #3498db;
            cursor: pointer;
            margin: 0rem 0.25rem;
        }
        .item_counter_span:hover{
            color: #196fa8;
        }
        .item_counter_span:active{
            transform: scale(.95);
        }
        .item_counter_p{
            width: 2rem;
            margin: 0rem 1rem;
            text-align: center;
        }
    }
    .itemCount_button{
        display: flex;
        background: #3498db;
        border-radius: 0.5rem;
        font-weight: 500;
        text-align: center;
        border: none;
        box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
        cursor: pointer;
        padding: 1rem;
        color: #ffffff;
        font-size: 1rem;
    }
    .itemCount_button:hover{
        background-color: #196fa8;
    }
    .itemCount_button:active{
        transform: scale(.95);
    }
}

@media(max-width: 768px){
    .itemCount{
        justify-content: center;
    }
}