.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        .links_h2{
            color: #FFFFFF;
            padding-bottom: 1.5rem;
            font-weight: 600;
        }
        .links_p{
            color: #FFFFFF;
            padding-bottom: 0.6rem;
            font-weight: 400;
        }
}