.button{
    display: flex;
    margin: 1rem;
    padding: 0rem;
    background: #3498db;
    color:#ffffff;
    border-radius: 0.5rem;
    font-weight: 500;
    text-align: center;
    border: none;
    box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    cursor: pointer;
    .button_a{
        color: #ffffff;
        text-decoration: none;
        padding: 0.8rem 2.5rem;   
        font-size: 0.8rem;
    }
}

.button:hover{
    background-color: #196fa8;
}

.button:active{
    transform: scale(.95);
}