@import '../../../styles/base';

.buttonBody{
    @include button();
    display: flex;
    margin: 1rem 0rem 0rem 1rem;
    padding: 0rem;
    .buttonLink{
        color: $secundario;
        text-decoration: none;
        padding: 0.8rem 2.5rem;   
    }
}

.backButton:hover{
    background-color: $hoverPrimario;
}