@import "../../../styles/base";

.itemDetail{
    @include flexRow();
    justify-content: center;
    margin: 0rem 1rem;
    .itemImage{
        width: 60%;
        @include flexRow();
        align-items: center;
        justify-content: center;
    }
    .itemDetails{
        width: 40%;
        .itemRoute{
            @include flexRow();
            align-items: baseline;
            margin-bottom: 1rem;
            a{
                margin-right: 0.2rem;
                font-size: 0.8rem;
                text-decoration: none;
                color: $terciario;
            }
            a:hover{
                color: $hoverSecundario;
            }
            span, p{
                margin-right: 0.2rem;
                font-size: 0.8rem;
                text-decoration: none;
                color: $terciario;
            }
        }
        .itemTitle{
           font-size: 2rem;
           margin-bottom: 1rem;
        }
        .itemPrice{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $primario;
            font-weight: 500;
        }
        .itemPaymentMethods{
            margin-bottom: 1rem;
            img{
                height: 6rem;
            }
            p{
                margin-bottom: 0.5rem;
            }
        }
        .itemCount{
            margin-bottom: 1rem;
        }
        .itemHelpers{
            margin-bottom: 1rem;
            .itemHelper{
                @include flexRow();
                margin-bottom: 0.5rem;
                span{
                    margin-right: 0.5rem;
                    color: $primario;
                }
                p{
                    font-size: 0.8rem
                }
            }
        }
    }   
}

@media(max-width: 768px){
    .itemDetail{
        @include flexColumn();
        align-items: center;
        .itemImage{
            width: 100%;
            margin-bottom: 1rem;
        }
        .itemDetails{
            width: 60%;
        }
    }
}

@media(max-width: 576px){
    .itemDetail{
        .itemDetails{
            width: 90%;
        }
    }
}