.cartSection{
    .cartSection_table{
        width: 45rem;
        margin: 2rem auto 1rem auto;
        text-align: center;
        border-collapse: collapse;       
        thead{
            background-color: #3498db;
            tr{
                th{
                    font-size: 1rem;
                    padding: 1rem;
                    color: #ffffff;
                }
            }  
        }
    }
    .emptyCart{
        width: 45rem;
        margin: 1rem auto;
        text-align: right;
    }
}

@media(max-width: 768px){
    .cartSection{
        .cartSection_table{
            width: 90%;
            thead{
                tr{
                    th{
                        font-size: 0.8rem;
                        padding: 1rem 0.2rem;
                    }
                }  
            }
        }
        .emptyCart{
            width: 90%;
        }
    }   
}