@import "../../../styles/base";

.item{
    margin: 1rem;
    padding: 1rem;
    box-shadow: $boxShadow;
    border-radius: 1.25rem;
    .itemImage{
        width: 10rem;
    }
    .itemTitle{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .itemPrice{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .itemButton{
        @include button();
    }
    .itemButton:hover{
        background-color: $hoverPrimario;
    }
}