@import "../../../styles/base";

.item{
    margin: 1rem;
    padding: 1rem;
    box-shadow: $boxShadow;
    border-radius: 1.25rem;
    text-align: center;
    .itemImage{
        width: 10rem;
        margin-bottom: 0.5rem;
    }
    .itemTitle{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .itemPrice{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .itemButton{
        @include button();
        width: 100%;
    }
    .itemButton:hover{
        background-color: $hoverPrimario;
    }
}

@media(max-width: 576px){
    .item{
        .itemImage{
            width: 14rem;
        }
        .itemTitle{
            font-size: 1.2rem;
        }
        .itemPrice{
            font-size: 1.2rem;
        }
        .itemButton{
            width: 100%;
        }
    }
}