@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Primario: #51B3D8
// Secundario: #FE01AA
// Degradado: #9B42F4, #FE01AA
 // color: hsla(270, 89%, 61%, 1);
// Fondo1: #3C3C50
// Fondo2: #202036
// Fondo3: #5183D8
// Textos: #FFFFFF