.cartInfo{
    display: flex;
    flex-direction: column;
    width: 45rem;
    margin: auto;
    text-align: center;
    box-shadow: 0px 1px 0px 0px #dddfe2;
    .cartTitle{
        background-color: #3498db;
        color: #ffffff;
        .cartTitle_h3{
            padding: 1rem;
        }
    }
    .CartPrice{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        .CartPrice_p{
            font-weight: 500;
            font-size: 1.2rem;
        }
        .cartButtons{
            display: flex;
            flex-direction: column;
            .cartButtons_button{
                display: flex;
                background: #3498db;
                border-radius: 0.5rem;
                font-weight: 500;
                text-align: center;
                border: none;
                box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
                cursor: pointer;
                .cartButtons_button_a{
                    font-size: 1rem;
                    padding: 1rem;
                    text-decoration: none;
                    color: #ffffff;
                }
            }
            .cartButtons_button:hover{
                background-color: #196fa8;
            }
            .cartButtons_button:active{
                transform: scale(.95);
            }
            .cartButtons_a{
                margin-top: 0.5rem;
                font-size: 0.8rem;
                color: #000000;
                opacity: 0.5;
            }
        }
    }
}

@media(max-width: 768px){
    .cartInfo{
        width: 90%;
        .cartInfoTitle{
            .cartTitle_h3{
                font-size: 1rem;
            }
        }
        .CartPrice{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .CartPrice_p{
                margin: 0.5rem 0rem 1rem 0rem;
            }
            .cartButtons{
                display: flex;
                flex-direction: column;
                .cartButtons_button{
                    .cartButtons_button_a{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
