.info{
    .info_div{
        .info_div_h2{
            color: #FFFFFF;
            padding-bottom: 1.5rem;
            font-weight: 600;
            font-size: 1.4rem;
        }
        .info_div_p{
            color: #FFFFFF;
            padding-bottom: 0.6rem;
            font-weight: 400;
            font-size: 1rem;
        }
    }
    .info_socials{
        .info_socials_h2{
            font-size: 1.4rem;
            color: #FFFFFF;
            padding: 1.5rem 0rem;
            font-weight: 600;
        }
    }
}