@import "../../styles/base";

.imageHeader{
    width: 100%;
    height: 70vh;
    box-shadow: $boxShadow;
    margin-bottom: 2rem;
}
@media(max-width: 768px){
    .imageHeader{
        height: 50vh;
    }
}

@media(max-width: 576px){
    .imageHeader{
        height: 30vh;
    }
}