.navbar{
    background-color: #155eac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .upperNavbar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.5rem;
        .upperNavbar_logo{
            width: 30%;
            display: flex;
            justify-content: flex-end;
            .upperNavbar_logo_span{
            }
        }
        .upperNavbar_icons{
            width: 30%;
            .upperNavbar_icons_span{
                color: #FFFFFF;
                font-size: 1.5rem;
                border-radius: 0.25rem;
                padding: 0.5rem;
                cursor: pointer;
                &:hover{
                    background-color: #ffffff26;
                }
            }
        }
    }
    .lowerNabvar{
        padding: 2.5rem 0rem 1rem 0rem;
        .lowerNabvar_ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            .lowerNabvar_ul_a{
                margin: 0rem 0.5rem;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                padding: 1rem;
                border-radius: 0.25rem;
                font-weight: 600;
                transition: all .25s cubic-bezier(.645,.045,.355,1);
                background-color: #ffffff26;
                &:hover{
                    color: #000000;
                    background-color: #FFFFFF;
                    transition: all .25s cubic-bezier(.645,.045,.355,1);
                }
                .lowerNabvar_ul_a_li{

                }
            }
        }
    }
}