.navbar{
    background-color: #155eac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .upperNavbar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .upperNavbar_logo{
            width: 30%;
        }
        .upperNavbar_icons{
            width: 30%;
            display: flex;
            justify-content: flex-end;
            .upperNavbar_icons_span{
                color: #FFFFFF;
                font-size: 1.5rem;
                border-radius: 0.25rem;
                padding: 0.5rem;
                cursor: pointer;
                &:hover{
                    background-color: #ffffff26;
                }
            }
        }
    }
    .lowerNabvar{
        background-color: #155eac;
        width: 100%;
        @media(max-width: 768px) {
            display: none
        }
        .lowerNabvar_ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            .lowerNabvar_ul_a{
                margin: 0rem 0.5rem;
                text-decoration: none;
                color: #eeeeee;
                font-size: 1rem;
                padding: 1rem;
                font-weight: 600;
                transition: all .25s cubic-bezier(.645,.045,.355,1);
                &:hover{
                    text-decoration: underline;
                    transition: all .25s cubic-bezier(.645,.045,.355,1);
                }
            }
        }
    }
}