.itemDetail {
  padding: 5rem 0rem;
  min-height: 50vh;
  margin: auto;
  background-color: #ffffff;
  width: 100%;
  .itemDetail_container {
    width: 90%;
    margin: auto;
    .itemDetail_container_img {
      width: 50%;
    }
  }
}
