.contact {
  padding: 5rem 0rem;
  min-height: 60vh;
  .contact_container {
    width: 90%;
    margin: auto;
    display: flex;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    .contact_container_info {
      width: 40%;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      height: 100%;
      color: #000000;
      padding: 1rem;
      .contact_container_info_h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
      }
      .contact_container_info_p {
        font-weight: 400;
      }
    }
    .contact_container_form {
      width: 60%;
    }
  }
}
