.contactDetails{
    width: 45rem;
    margin: auto;
    padding: 1rem;
    background-color: #3498db;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #ffffff;
    text-align: center;
    .contactForm{
        .contactForm_form{
            display: flex;
            flex-direction: column;
            text-align: left;
            .contactForm_form_label{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }
            .contactForm_form_input{
                height: 2rem;
                padding: 0rem 0.4rem;
                width: 100%;
                border: none;
                border-radius: 0.5rem;
                margin-bottom: 1rem
            }
            .textarea{
                height: 5rem;
                padding: 0.4rem;
            }
        }
    }
    .contactDetails_captcha{
        margin: 0rem auto 1rem auto;
    }
    .contactDetails_button{
            background: #196fa8;
            width: 6rem;
            margin: 0rem auto;
            border-radius: 0.5rem;
            font-weight: 500;
            text-align: center;
            box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
            padding: 1rem 0rem;
            color: #ffffff;
            font-size: 1rem;
            box-shadow: none;
            border: 2px solid #196fa8;
            cursor: pointer;
    }
    .contactDetails_button:active{
        transform: scale(0.95);
    }
    .opacity{
        opacity: 0.4;
    }
}

@media(max-width: 768px){
    .contactDetails{
        width: 90%;
        .contactForm{
            .contactForm_form{
                .contactForm_form_label{
                    font-size: 1.8rem;
                }
            }
        }
    }
}