.emptyCartButton{
    background: #3498db;
    border-radius: 0.5rem;
    font-weight: 500;
    text-align: center;
    border: none;
    box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}
.emptyCartButton:hover{
    background-color: #196fa8;
}
.emptyCartButton:active{
    transform: scale(.95);
}
@media(max-width: 768px){
    .emptyCartButton{
        font-size: 0.8rem;
    }
}