@import '../../../styles/base';

.carWidget{
    @include flexRow();
    justify-content: flex-end;
    .cartIcon{
        text-decoration: none;
    }
    .cartQuantity{
        background-color: $hoverPrimario;
        border-radius: 0.5rem;
        margin-left: 0.2rem;
        padding: 0.4rem;
        color: $secundario;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }
    .empty{
        opacity: 0.6;
    }
}