.aboutContent{
    margin: 4rem auto;
    text-align: center;
    .aboutContent_img{
        width: 60%;
        margin: 0rem auto 1rem auto;
    }
    .aboutContent_h3{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .aboutContent_p{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: left;
        white-space: pre-line;
    }
}

@media(max-width: 768px){
    .aboutContent{
        margin: 2rem auto;
        .aboutContent_img{
            width: 100%;
        }
        .aboutContent_h3{
            font-size: 2rem;
        }
        .aboutContent_p{
            font-size: 1rem;
        }
    }
}