.footer{ 
    background-color: #141423;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer_info{
        width: 30%;
        padding: 0rem 1rem;
    }
    .footer_links{
        width: 30%;
        padding: 0rem 1rem;
    }
    .footer_newsletter{
        width: 40%;
        padding: 0rem 1rem;
    }




//     padding: 0rem 1rem;
//     color: #ffffff;
//     background-color: #3498db;
//     .footerMainContent{
//         display: flex;
//         justify-content: space-evenly;
//         margin-bottom: 0rem 1rem;
//     }
//     .footerSecondContent{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .footerSecondContent_p{
//             color: #ffffff;
//             font-weight: 600;
//             .footerSecondContent_p_span{
//                 color: #b6332b;
//             }
//             .footerSecondContent_p_a{
//                 color: #ffffff;
//                 font-weight: 600;
//             }
//         }
//     }
}

// @media(max-width: 992px){
//     .footer{ 
//         .footerMainContent{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//         }
//     }
// }