@import "../../../styles/base";

.itemCount{
    @include flexRow();
    align-items: center;
    margin-bottom: 1rem;
    div{
        @include flexRow();
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        border: 1px solid $primario;
        padding: 0.6rem 0.5rem;
        border-radius: 0.8rem;
        .add{
            width: 1rem;
            text-align: center;
            color: $primario;
            cursor: pointer;
            margin: 0rem 1rem;
        }
        .add:hover{
            color: $hoverPrimario;
        }
        .add:active{
            transform: scale(.95);
        }
        .minus{
            @extend .add;
        }
        .minus:hover{
            @extend.add,:hover
        }
        .minus:active{
            @extend.add,:active
        }
        .counter{
            width: 2rem;
            text-align: center;
        }
    }
    button{
        @include button();
    }
    button:hover{
        background-color: $hoverPrimario;
    }
    button:active{
        transform: scale(.95);
    }
}
@media(max-width: 768px){
    .itemCount{
        justify-content: center;
        div{
            margin-right: 1rem;
            .add{
                margin: 0rem;
            }
        }
    }
}