@import "../../../styles/base";

.itemCount{
    @include flexRow();
    align-items: center;
    margin-bottom: 1rem;
    div{
        @include flexRow();
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        .add{
            width: 1rem;
            text-align: center;
            color: $primario;
            cursor: pointer;
        }
        .add:hover{
            color: $hoverPrimario;
        }
        .minus{
            @extend .add;
        }
        .minus:hover{
            @extend.add,:hover
        }
        .counter{
            width: 2rem;
            text-align: center;
        }
    }
    button{
        @include button();
    }
    button:hover{
        background-color: $hoverPrimario;
    }
}
@media(max-width: 768px){
    .itemCount{
        div{
            margin-right: 1rem;
        }
    }
}