@import '../../../../styles/base';

.cartMessage{
    width: 45rem;
    margin: 5rem auto;
    padding: 2rem;
    background-color: $primario;
    border-radius: 0.5rem;
    box-shadow: $boxShadow;
    color: $secundario;
    text-align: center;
    .cartMessage_h2{
        font-size: $tituloSeccion;
        margin-bottom: 1rem;
    }
    .cartMessage_p{
        font-size: $parrafo;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    .cartMessage_a{
        .cartMessage_a_button{
            @include button();
            box-shadow: none;
            border: 2px solid $hoverPrimario;
        }
        .cartMessage_a_button:hover{
            background-color: $hoverPrimario;
        }
        .cartMessage_a_button:active{
            transform: scale(0.96);
        }
    }
}

@media(max-width: 768px){
    .cartMessage{
        width: 90%;
        .cartMessage_h2{
            font-size: 1.5rem;
        }
        .cartMessage_p{
            font-size: 1rem;
        }
        .cartMessage_a{
            .cartMessage_a_button{
                @include button();
                box-shadow: none;
                border: 2px solid $hoverPrimario;
            }
            .cartMessage_a_button:hover{
                background-color: $primario;
            }
            .cartMessage_a_button:active{
                transform: scale(0.96);
            }
        }
    }
}