@import "../../../styles/core/base";

nav{
    @include flexRow();
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1rem;
    background-color: $primario;
    width: 100%;
    box-shadow: $boxShadow;
    .title{
        color: $secundario;
        text-decoration: none;
        width: 25%;
        text-align: left;
        color: $secundario;
        font-size: 1.2rem;
    }
    ul{
        @include flexRow();
        justify-content: center;
        width: 50%;
        a{
            list-style-type: none;
            margin: 0rem;
            padding: 0rem;
            font-weight: 500;
            font-size: 1rem;
            color: $secundario;
            text-decoration: none;
            text-align: center;
        }
    }
    a{
        width: 25%;
        text-align: right;
        color: $secundario;
    }
}