.message{
    width: 45rem;
    margin: 2rem auto;
    padding: 2rem 0.5rem;
    background-color: #3498db;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #ffffff;
    text-align: center;
    .message_h2{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .message_p{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    .message_button{
        background-color: #196fa8;
        border-radius: 0.5rem;
        font-weight: 500;
        text-align: center;
        border: none;
        box-shadow:  0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
        cursor: pointer;
        .message_button_a{
            display: flex;
            padding: 1rem;
            color: #ffffff;
            font-size: 1rem;
            text-decoration: none;
        }
    }
    .message_button:active{
        transform: scale(.95);
    }
}

@media(max-width: 768px){
    .message{
        width: 90%;
        .message_h2{
            font-size: 2rem;
        }
        .message_p{
            font-size: 1rem;
        }
        .message_button{
            .message_button_a{
                font-size: 0.8rem;
            }
        }
    }
}